<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>OPC Library</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
<div th:replace="frag/header :: header"> </div>
<form action="#" th:action="@{/login}" th:object="${user}" method="post">
    <table align="center">
        <tr>
            <td>username</td>
            <td> <input type="text" th:field ="*{login}"> </td>
        </tr>
        <tr>
            <td>password</td>
            <td> <input type="password" th:field ="*{password}"> </td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit">Submit</button> </td>
            <td>
                <div class="wrong">
                    <p> Wrong credentials.</p>
                </div>
            </td>
        </tr>
    </table>
</form>
</body>
</html>