<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My_space</title>
    <link rel="stylesheet" href="/css/space.css">
</head>
<body>
<div th:replace="frag/header :: header"> </div>
<h1 align="center"> Rented book(s). </h1>
<div class="tab">
    <table align="center">
        <tr>
            <td>title</td>
            <td>Authors</td>
            <td>Isbn</td>
            <td>Start</td>
            <td>End</td>
            <td>Actions</td>
        </tr>
        <tr th:each="loan : ${loans}">
            <td th:text ="${loan.book.title}">Title</td>
            <td th:text ="${loan.book.authors}">Authors</td>
            <td th:text="${loan.book.isbn}">Isbn</td>
            <td th:text="${loan.begin.getTime().toGMTString()}">begin</td>
            <td th:text="${loan.end.getTime().toGMTString()}">end</td>
            <td>
                <a th:href="@{'/loan/extend/' + ${loan.id}}">Extend</a>
                <a th:href="@{'/loan/return/' + ${loan.id}}">Return</a>
            </td>
        </tr>
    </table>
    <h1 align="center"> Reserved book(s). </h1>
    <table align="center">
        <tr>
            <td>title</td>
            <td>Authors</td>
            <td>Isbn</td>
            <td>Start</td>
            <td>End</td>
            <td>Actions</td>
        </tr>
        <tr th:each="reserved : ${reservations}">
            <div th:if="${reserved.book}">
            <td th:text ="${reserved.book.title}">Title</td>
            <td th:text ="${reserved.book.authors}">Authors</td>
            <td th:text="${reserved.book.isbn}">Isbn</td>
            <td th:text="${reserved.begin.getTime().toGMTString()}">begin</td>
            <td th:text="${reserved.end.getTime().toGMTString()}">end</td>
            <td>
                <a th:if="${reserved.book.left} > 0" th:href="@{'/reserve/accept/' + ${reserved.id}}">Accept</a>
                <a th:href="@{'/reserve/cancel/' + ${reserved.id}}">Cancel</a>
            </td>
            </div>
        </tr>
    </table>
</div>
</body>
</html>